<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'fangdong/style.css' %}" />
    <title>Title</title>
</head>
<body>
{% block landlords %}
<div class="page-container">
    <div class="page-left">
        <div class="host-img">
            <img height="225" src="{% static 'fangdong/images/' %}{{landlords.listing_id}}-{{landlords.host_id}}.gif" width="225">
        </div>
        <div class="panel">
            <div class="title">已验证的信息</div>
            <div class="content">
                <ul class="host_verifications-list">
                    <li class="item">
                        <div class="text">生份证</div>
                        <div class="icon">icon</div>
                    </li>
                    <li class="item">
                        <div class="text">生份证</div>
                        <div class="icon">icon</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="page-right">
        <div class="host_about">
            {{landlords.host_about}}
        </div>
        <div class="host-grade">
            <div class="super-host">{{landlords.superhost}}</div>
            <div class="response_time">{{landlords.response_time}}</div>
            <div class="response_rate">{{landlords.response_rate}}</div>
            <div class="number_of_reviews">{{landlords.number_of_reviews}}</div>
            <div class="review_scores_rating">{{landlords.review_scores_rating}}</div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>