.ml30 {
    margin-left: 30px;
}
.ml15 {
    margin-left: 15px;
}
.page-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.page-container .page-left >div {
    margin-bottom: 24px;
}
.page-container .page-right >div {
    margin-bottom: 24px;
}
.page-container .panel {
    border:1px solid #dce0e0;
    background-color:#fff;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    color:#484848;
    font-size:16px;
}
.page-container .panel-header {
    background-color: #edefed;
    color:#484848;
    font-size:16px;
    border-bottom:1px solid #dce0e0;
    padding: 12px 20px;
}
.page-container .panel-content {
    padding: 20px;
}
.page-container .panel-content .host-verification-item {
    margin-bottom: 12px;
    width: 100%;
}
.page-container .host-img img {
    width: 100%;
    height: 230px;
}
.page-container form >div {
    margin-bottom: 20px;
}
.host-verification-item >div {
    display: inline-block;
}
.host-verification-item .text {
    width: calc(100% - 30px);
}
@media (max-width:744px) {
    .page-container .page-left .panel {
        display: none;
    }
    .page-container .page-right .panel {
        display: block;
    }
}
@media (min-width:744px) {
    .page-container {
        width: 696px;
        padding-left: 24px;
        padding-right: 24px
    }
    .page-container .page-left {
        width: 33.33333%;
        float: left;
    }
    .page-container .page-right {
        width: calc(66.66667% - 24px);
        float: right;
    }
    .page-container .page-left .panel {
        display: block;
    }
    .page-container .page-right .panel {
        display: none;
    }
}
@media (min-width:1128px) {
    .page-container {
        width:1080px
    }
    .page-container .page-left {
        width: 25%;
        float: left
    }
    .page-container .page-right {
        width: calc(75% - 24px);
        float: right;
    }
}