html {
    font-family:sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body {
    margin:0;
    background: white;
}
a {
    background:transparent
}
a:focus {
    outline:thin dotted
}
a:active,a:hover {
    outline:0
}
.page-container {
    margin-left:auto;
    margin-right:auto;
    padding-left:12px;
    padding-right:12px
}
.page-container .page-left {

}

