.ml30 {
    margin-left: 30px;
}
.mb10 {
    margin-bottom: 10px;
}
.mt10 {
    margin-top: 10px;
}
.mt24 {
    margin-top: 24px;
}
.mb24 {
    margin-bottom: 24px;
}
.ml15 {
    margin-left: 15px;
}
input[type=radio] {
    margin-right: 10px;
}
.icon-review {
    border-radius: 6px !important;
    color: #ffffff !important;
    font-weight: bold !important;
    font-size: 18px !important;
    display: inline-block !important;
    padding: 6px 9px !important;
    min-width: 28px !important;
    position: relative !important;
    overflow: hidden !important;
    vertical-align: middle !important;
    background: -webkit-linear-gradient(140deg, #ffc333 55%, #FFB400 55%, #FFB400 100%) !important;
    background: -moz-linear-gradient(140deg, #ffc333 55%, #FFB400 55%, #FFB400 100%) !important;
    background: linear-gradient(140deg, #ffc333 55%, #FFB400 55%, #FFB400 100%) !important;
    line-height: 1.1 !important;
    text-rendering: optimizelegibility !important;
    text-align: center !important;
}
.page-container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #555555;
    line-height: 24px;
}
.page-container button {
    margin-top: 20px;
    width: 82px;
}
.page-container .host-grade i {
    font-size: 18px;
    color: red;
    position: relative;
    top: 5px;
}
.page-container .border-bottom {
    border-bottom: 1px dashed #ccc
}
.page-container .title {
    font-size: 18px !important;
    font-weight: bold;
    vertical-align: middle;
    margin: 0;
    padding: 15px 0;
    line-height: 24px;
    color: #19a8ee;
}
.page-container .page-left >div {
    margin-bottom: 24px;
}
.page-container .page-right {
    text-align: center;
}
.page-container .page-right >div {
    padding-bottom: 24px;
    text-align: left;
}
.page-container .page-right form {
    padding-bottom: 24px;
    position: relative;
}
.page-container .page-right form .close-btn {
    position: absolute;
    right: 20px;
    height: 52px;
    line-height: 72px;
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.page-container .page-right form .question >div {
    padding-top: 2px;
    font-size: 15px;
    color: #444444;
    font-weight: bold;
    height: auto;
    line-height: 20px;
    position: relative;
}
.page-container .page-right form .question .option {
    color: #6a6a6a;
    line-height: 30px;
}
.page-container .panel {
    border:1px solid #dce0e0;
    background-color:#fff;
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    font-size:16px;
}
.page-container .panel-header {
    background-color: #edefed;
    color:#484848;
    font-size:16px;
    border-bottom:1px solid #dce0e0;
    padding: 12px 20px;
}
.page-container .panel-content {
    padding: 20px;
}
.page-container .panel-content .host-verification-item {
    margin-bottom: 12px;
    width: 100%;
}
.page-container .host-img img {
    width: 100%;
    height: 230px;
}
.page-container form >div {
    padding-bottom: 20px;
    text-align: left;
}
.host-verification-item >div {
    display: inline-block;
}
.host-verification-item .text {
    width: calc(100% - 30px);
}
@media (max-width:744px) {
    .page-container .page-left .panel {
        display: none;
    }
    .page-container .page-right .panel {
        display: block;
    }
}
@media (min-width:744px) {
    .page-container {
        width: 696px;
        padding-left: 24px;
        padding-right: 24px
    }
    .page-container .page-left {
        width: 33.33333%;
        float: left;
    }
    .page-container .page-right {
        width: calc(66.66667% - 24px);
        float: right;
    }
    .page-container .page-left .panel {
        display: block;
    }
    .page-container .page-right .panel {
        display: none;
    }
}
@media (min-width:1128px) {
    .page-container {
        width:1080px
    }
    .page-container .page-left {
        width: 25%;
        float: left
    }
    .page-container .page-right {
        width: calc(75% - 24px);
        float: right;
    }
}